{% extends "layout.html" %}
{% from "macros/blog.html" import render_blog_post %}
{% from "macros/pagination.html" import render_pagination %}
{% block title %}Blog{% endblock %}
{% block body %}
{#
<div class="callout large primary">
  <div class="row column text-center">
    <h1>Blog</h1>
    <h2 class="subheader">Ben and Cody's Thoughts</h2>
  </div>
</div>
#}

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {% for child in this.pagination.items %}
                <div class="post-preview">
                    <a href="{{ child|url }}">
                        <h2 class="post-title">
                            {{ child.title }}
                        </h2>
                        {#<h3 class="post-subtitle">
                            Problems look mighty small from 150 miles up
                        </h3>#}
                    </a>
                    <p class="post-meta">Posted by <a href="#">{{ child.author }}</a> on {{ child.pub_date|dateformat }}</p>
                </div>
                <hr>
            {% endfor %}

            {{ render_pagination(this.pagination) }}
        </div>
    </div>
</div>

{% endblock %}
