<!doctype html>
<meta charset="utf-8">
<title>{% block title %}Welcome{% endblock %} — Niladic Podcast</title>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/6.1.2/foundation.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/foundation/6.1.2/foundation.min.js" async></script>
{# <link rel="stylesheet" href="{{ '/static/style.css'|url }}"> #}
<body>
  <header>
    <nav>
      <div class="top-bar">
        <div class="top-bar-left">
          <ul class="menu">
            <li{% if this._path == '/' %} class="active"{% endif
              %}><a href="{{ '/'|url }}">Welcome</a></li>
            {% for href, title in [
              ['/blog', 'Blog'],
              ['/podcast', 'Podcast'],
              ['/about', 'About']
            ] %}
              <li{% if this.is_child_of(href) %} class="active"{% endif
                %}><a href="{{ href|url }}">{{ title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="page">
    {% block body %}{% endblock body %}
  </div>
  <footer>

  </footer>
</body>
